Options +FollowSymLinks
RewriteEngine On

RewriteBase /

# Bỏ qua request tới thư mục public nếu có
RewriteCond %{REQUEST_URI} !^/public/

# Nếu không phải file hoặc thư mục thật thì rewrite về index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

